        #title{
            font-family: Karla,sans-serif;
            text-align: center;
            font-size: 40px;
            position: absolute;
            width: 50vw;
            margin-left: 32.5vw;
            margin-top: 5vh;
        }
        td, th {
            border: 1px solid #cccccc;
            padding: 8px;  
        }

        th {
            font-weight: bold;
            text-transform: uppercase;
        }

        /* use sudo selector nth child to give a slightly different coloured background*/
        tr:nth-child(even) {
            background-color: white;
        }


            
        #RPSTable{
            margin-top:25vh;
            margin-left:32.5vw;
            border: solid black 2px;
            font-size: 2em;
            font-family: Karla, sans-serif;
            border-collapse: collapse;
            width: 50vw;
            position: absolute;
            background-color: white;
        }