@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #ffffff;
    font-family: Karla,sans-serif;
    overflow: hidden;
}

/* Sidebar */
.sidebar{
    position: fixed;
    width: 15.625rem;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: black;
    padding-top: 3.125rem;
    height: 100vh;
}

.sidebar h1{
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: Karla,sans-serif;
    letter-spacing: 2px;
    font-weight: 400px;
    margin: 0px;
    font-size: 30px;
    text-transform: uppercase;
}

.sidebar a{
    color: #bbb;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: Karla,sans-serif;
    letter-spacing: 2px;
    transition: 0.4s;

}

.sidebar a:hover{
    color: #fff;
    margin-left: 1.25rem;
    transition: 0.4s;
}

/*Wins/losses/draws*/
.gametracker {
    font-size: 16px;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: Karla,sans-serif;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0%;
    left: 0%;

  }

/* Icons */
.icons {
    position: block;
    margin-left: 15%;
    margin-top: 17%;
    text-align: center;
    cursor: pointer;
}

div img {
    background-size: 100%;
    background-position: center;
    transition: 1s;
    opacity: 0.6;
    width: 25rem;
}

div img:hover {
    opacity: 1;
    background-position: center;
}

#rock:hover {
    transform: scale(1.2);
}

#paper:hover {
    transform: scale(1.2);
}

#scissors:hover {
    transform: scale(1.2);
}

/* Result */
.results {
    position: block;
    margin-left: 14%;
    color:black;
    font-family: Karla, sans-serif;
    font-weight: bold;
    font-size:3.125rem;
    letter-spacing: 1px;
    text-align: center;
}

.topLoginMain {
    position: absolute;
    top: 1vh;
    right: 3vw;
    font-size: 1.5rem;
}
.topLogoutMain {
    position: absolute;
    top: 1vh;
    right: 3vw;
    font-size: 1.5rem;
}

.invisible {
    display: none;
}
.visible {
    display: block;
}
